@use "../base/variables" as v;
@use "../base/mixins" as m;

.content_header {
  width: 90%;
  margin: 3rem auto 0 auto;
  .content_description {
    margin-top: 2rem;
    line-height: 30px;
    .info{
      p{
        font-weight: bold;
      }
    }
    span{
      display: none;
    }
  }
}

//Versión responsive
@include m.tablet {
  .content_header {
    width: 80%;
  }
}
@include m.desktop {
  .content_header {
    width: 70%;
    .content_data {
      p {
        .content_data-user {
          display: flex;
          column-gap: 10px;
        }
      }
    }
  }
}
