@use "../base/variables" as v;
@use "../base/mixins" as m;

.content_all-projects {
  width: 90%;
  margin: 2rem auto 0 auto;
  .content_info {
    a {
      color: v.$grisOscuro;
      .proyecto {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        transition: 0.5s ease;
        border-radius: 5px;
        margin-top: 1rem;
        &:hover {
          background-color: v.$gris;
        }
        span {
          background-color: v.$blanco;
          width: 150px;
          margin: 1rem 0 0 1rem;
          border-radius: 5px;
          text-align: center;
        }

        h3,
        p {
          padding-left: 1rem;
          margin-bottom: 1rem;
          line-height: 25px;
        }

        .detalles {
          font-size: 11px;
          text-decoration: underline;
          opacity: 100%;
          transition: 0.99s ease-in-out;
        }

        .detalles_n {
          opacity: 0%;
        }

        .content_info-project-n {
          overflow: hidden;
          height: 0px;
          position: relative;
          transition: 0.99s ease-in-out;
          text-align: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          z-index: 1;
          .info_left {
            .video_whatssive-n {
              width: 250px;
              border-radius: 10px;
              position: relative;
              left: -40%;
              top: 0;
              right: 0;
              bottom: 0;
              transition: 0.99s ease-in-out;
            }
            .video_whatssive-d {
              left: 0%;
            }
          }
          .info_right-n {
            opacity: 0%;
            transition: 0.99s ease-in-out;
            margin-top: 1rem;
            .date_info {
              span {
                margin: 0%;
              }
              h3 {
                padding: 0%;
                margin-top: 1rem;
              }
            }
            .info {
              h4 {
                background-color: v.$amarillo;
                margin: 1rem auto 0 auto;
                border-radius: 5px;
              }
              p {
                padding: 0%;
                margin-top: 5px;
              }
              .website {
                z-index: 100;
                a {
                  &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: v.$negro;
                  }
                }
              }
            }
          }
          .info_right-d {
            opacity: 100%;
          }
        }
        .content_info-project-d {
          height: 500px;
        }
      }
    }
  }
  .content_links {
    h3 {
      padding-left: 1rem;
    }
    .links {
      padding-left: 1rem;
      margin-top: 1rem;
      display: flex;
      column-gap: 10px;
      a {
        transition: 0.25s ease;
        color: v.$negro;
        svg {
          font-size: 30px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  hr {
    margin-top: 2rem;
  }
}

//Versión responsive
@include m.tablet {
  .content_all-projects {
    width: 80%;
    .content_info {
      a {
        .proyecto {
          .content_info-project-n {
            .info_left {
              .video_whatssive-n {
                width: 300px;
              }
            }
          }
        }
      }
    }
  }
}

@include m.desktop {
  .content_all-projects {
    width: 70%;
    .content_info {
      a {
        .proyecto {
          .content_info-project-n {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .info_left {
              .video_whatssive-n {
                width: 250px;
              }
            }
            .info_right-n {
              opacity: 0%;
              transition: 0.99s ease-in-out;
              .date_info {
                span {
                  margin: 0%;
                }
                h3 {
                  padding: 0%;
                  margin-top: 1rem;
                }
              }
              .info {
                h4 {
                  background-color: v.$amarillo;
                  width: 50%;
                  margin: 1rem auto 0 auto;
                  border-radius: 5px;
                }
                p {
                  padding: 0%;
                  margin-top: 5px;
                }
              }
            }
            .info_right-d {
              opacity: 100%;
            }
          }
          .content_info-project-d {
            height: 350px;
          }
        }
      }
    }
  }
}

@include m.desktopXl {
  .content_all-projects {
    .content_info {
      a {
        .proyecto {
          .content_info-project-n {
            .info_left {
              .video_whatssive-n {
                width: 300px;
              }
            }
          }
        }
      }
    }
  }
}
