@use "../base/variables" as v;
@use "../base/mixins" as m;

.content_all-projects {
  width: 90%;
  margin: 2rem auto 0 auto;
  .content_info {
    a {
      color: v.$grisOscuro;
      .proyecto {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        transition: 0.5s ease;
        border-radius: 5px;
        margin-top: 1rem;
        &:hover {
          background-color: v.$gris;
        }
        span {
          background-color: v.$blanco;
          width: 150px;
          margin: 1rem 0 0 1rem;
          border-radius: 5px;
          text-align: center;
        }

        h3,
        p {
          padding-left: 1rem;
          margin-bottom: 1rem;
          line-height: 25px;
        }

        .detalles {
          font-size: 11px;
          text-decoration: underline;
          opacity: 100%;
          transition: 0.99s ease-in-out;
        }

        .detalles_n {
          opacity: 0%;
        }

        .content_info-project-n {
          overflow: hidden;
          height: 0px;
          position: relative;
          transition: 0.99s ease-in-out;
          text-align: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          z-index: 1;

          .info_n {
            opacity: 0%;
            transition: 0.99s ease-in-out;
            margin-top: 1rem;
            width: 100%;

            h3,
            h4,
            p {
              padding: 1rem 0;
            }
            .date_info {
              h3 {
                background-color: v.$amarilloClaro;
                width: 90%;
                margin: 0% auto;
                border-radius: 5px 5px 0 0;
              }
            }
            .info {
              .stack {
                h4 {
                  background-color: v.$amarillo;
                  margin: 0% auto;
                  width: 90%;
                }
                p {
                  padding: 0%;
                  margin: 0% auto;
                  background-color: v.$amarilloClaro;
                  width: 90%;
                }
              }
              .plataform {
                h4 {
                  background-color: v.$amarillo;
                  width: 90%;
                  margin: 0% auto;
                  border: 5px;
                }
                p {
                  padding: 0%;
                  background-color: v.$amarilloClaro;
                  border-radius: 0 0 5px 5px;
                  width: 90%;
                  margin: 0% auto;
                }
              }
              .observations {
                h4,
                p {
                  width: 90%;
                  margin: 0% auto;
                }
                h4 {
                  background-color: v.$amarillo;
                }
                p {
                  background-color: v.$amarilloClaro;
                }
              }
            }
          }
          .info_d {
            opacity: 100%;
          }
        }
        .content_info-project-d {
          height: 380px;
        }
      }
    }
  }
  .content_links {
    h3 {
      padding-left: 1rem;
    }
    .links {
      padding-left: 1rem;
      margin-top: 1rem;
      display: flex;
      column-gap: 10px;
      a {
        transition: 0.25s ease;
        color: v.$negro;
        svg {
          font-size: 30px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  hr {
    margin-top: 2rem;
  }
}

//Versión responsive
@include m.tablet {
  .content_all-projects {
    width: 80%;
  }
}

@include m.desktop {
  .content_all-projects {
    width: 70%;
    .content_info {
      a {
        .proyecto {
          .content_info-project-n {
            .info_n {
              .date_info {
                h3 {
                  padding: 0%;
                  margin-top: 1rem;
                }
              }
              .info {
                h4 {
                  background-color: v.$amarillo;
                  width: 50%;
                  margin: 1rem auto 0 auto;
                  border-radius: 5px;
                }
                p {
                  padding: 0%;
                  margin-top: 5px;
                }
              }
            }
            .info_right-d {
              opacity: 100%;
            }
          }
          .content_info-project-d {
            height: 320px;
          }
        }
      }
    }
  }
}
