@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: v.$grisClaro;
  color: v.$grisOscuro;
}

#root {
  height: 100%;
}

h1,
h2,
h3 {
  color: v.$negro;
}

a{
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.content_all-page{
  width: 100%;
}
