$blanco: white;
$negro: black;
$gris: rgb(215, 219, 221);
$amarillo: rgb(247, 220, 111);
$amarilloClaro: rgb(249, 231, 159);
$grisClaro: rgb(242, 243, 244);
$grisOscuro: rgb(81, 90, 90);
$rojoDanger: rgb(192, 57, 43);
//Medidas
$phone: 30rem;
$tablet: 30.063rem;
$desktop: 48rem;
$desktopXl: 75rem;
